body {
    background-image: url(mylivewallpapers-com-Couple-with-Sparklers-4K-ezgif.com-video-to-gif-converter.gif);
    /* background-repeat: no-repeat; */
    background-size: cover;
}

.form {
    background-color: rgba(198, 97, 114, 0.184);
    margin: 250px 50px 50px 50px;
    padding: 20px 10px 10px 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px #000000, 0 0 10px #1a0c0c;
}

.Question {
    text-shadow: 0 0 3px #fc0202, 0 0 5px #ff0000;
}
.form-buttons
{
    padding-bottom: 10px;
}
#btn1,
#btn2 {
    background-color: red;
    border: none;
    text-align: center;
    color: white;
    font-size: 15px;
    border-radius: 10px;
    margin: 15px 10px 10px 10px;
    padding: 10px 50px 10px 50px;
}

#btn1:hover,
#btn2:hover {
    box-shadow: 0 0 10px #000000, 0 0 10px #ff0000;
}